*{
 margin: 0;
 padding: 0;   
}

body{
 background-color: rgb(187, 189, 190);   
}

.container{
 background-color: white;
 width: 90%;
 height: 820px;
 margin: 0 20px;
}

.morado{
 background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));   
 height: 45%;
 color: aliceblue;
 font-family: arial;
 border-radius: 0 0 30px 30px;
}

.morado .arriba{
 color:rgb(202, 206, 209); 
 text-align: center;  
}

.arriba{   
 margin-top: 30px; 
 position: relative;
 top: 30px;  
}

.morado .circulo{
 background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
 border-radius: 100%;
 width: 130px;
 height: 130px;
 position: relative;
 left:172px;
 top: 50px;   
}

.circulo .texto-circulo{
 position: relative;
 text-align: center;
 top: 30px;
 font-size: 50px;
}

.resultado{
 color:rgb(202, 206, 209);
 position: relative;
 text-align: center;
 top: 30px;   
}

.abajo{
 width: 255px;
 position: relative;
 top: 90px;
 left: 110px;   
}

.abajo .subtitulo{
 text-align: center;
 position: relative;
 bottom: 20px;
 font-size: 2em;
 color: white;   
}

.texto1{
 color:rgb(149, 152, 155);
 text-align: center;
}

.lista{
 position: relative;   
 top: 40px;
 padding: 0 20px;
}

.texto-blanco{
 font-weight: bold;  
 font-family: Arial, Helvetica, sans-serif;
 position: relative;
 margin-bottom: 25px; 
}

ul li{   
 margin-bottom: 20px;
 height: 60px;
 border-radius: 10px;
 list-style: none;
 display: flex;
 align-items: center;
}

li > img{
 padding: 0 10px;
}

.rango{
 position: relative;
 left: 240px;   
}

ul li:nth-child(1){
 color: hsl(0, 100%, 67%);
 background-color: hsl(0, 66%, 86%);   
}

ul li:nth-child(2){
 color: hsl(39, 100%, 56%);
 background-color: hsl(39, 70%, 85%);   
}

ul li:nth-child(3){
 color: hsl(166, 100%, 37%);
 background-color: hsl(166, 58%, 78%);   
}

ul li:nth-child(4){
 color: hsl(234, 85%, 45%);
 background-color: hsl(234, 72%, 83%);   
}

.btn{
 width: 100%;  
 height: 40px; 
 border-radius: 50px;
 background-color: hsl(224, 30%, 27%);
 display: flex;
 align-items: center;
 justify-content: center;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bold;
 color: white;
}

@media screen and (min-width:800px) {

 body{
  display: flex;
  align-items: center;
  justify-content: center;  
 }   

 .container{
   background-color: white;
   width: 710px;
   height: 420px;
   position: relative;
   top: 70px;
   display: flex;
   }  

   .morado{
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));   
    height: 100%;
    width: 480px;
    color: aliceblue;
    font-family: arial;
    border-radius: 0px 10px 10px 0;
   }

   .morado .arriba{
    color:rgb(202, 206, 209); 
    text-align: center;  
   }

   .morado .circulo{
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 100%;
    width: 130px;
    height: 130px;
    position: relative;
    left:100px;
    top: 50px;   
   }

   .abajo{
    width: 255px;
    position: relative;
    top: 90px;
    left: 40px;   
   }
   
   .lista{
    position: relative;
    top: 0px;   
    width: 500px;
   }

   .texto-blanco{
    font-weight: bold;  
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 10px; 
   }

   .rango{
    position: relative;
    left: 160px;   
   }
    
}

